{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<style>
.bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
</style>
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container">
    {% include 'flash.html' %}

    <form method="POST"> <!-- post : handle submission -->
        </br>
        </br>
        <h2> Sign Up </h2>
        </br>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        <center> {{ wtf.form_field(form.submit)}} </center>
    </form>
    <br/>
    <center> Already have an account? <a href="login">Log in</a> </center>
</div> <!-- /container -->
{% endblock %}
